<% include ../partials/header %>

<div class="container">
    <div class="jumbotron">
        <h1>Upcoming Events</h1>
    	<% if(admin) {%>
            <a href="/events/new" class="btn btn-default">New Event</a>
        <% } %>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <% events.forEach(function(event){ %>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        <%= event.name %>
                        <span><a href="/events/<%= event._id %>" class="btn btn-default pull-right">View</a></span>
                    </h4>
                </div>
                    
                    <ul class="list-group">
                        <% if(admin) {%>
                            <li class="list-group-item">
                                <div class="form-inline">
                                    <div class="form-group">
                                       <form class="form-inline" action="/events/<%= event._id %>/edit" method="GET">
                                            <button class="btn btn-default">Edit</button>
                                        </form>
                                    </div>
                                    <div class="form-group">
                                       <form class="form-inline" action="/events/<%= event._id %>?_method=DELETE" method="POST">
                                            <button class="btn btn-default">Delete</button>
                                        </form> 
                                    </div>
                                </div>
                            </li>
                        <% } %>
                        
                        <li class="list-group-item">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <a href="/events/<%= event._id %>"><img class="thumbnail img-rounded" src="<%= event.image %>"></a>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%= event.description %></p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
            </div>
            <% }); %>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<% include ../partials/footer %>