<% include ../partials/header %>

<div class="container-fluid">
	<div class="jumbotron">
		<h1>Our Selection</h1>
		<% if(admin) {%>
			<a href="/beer/new" class="btn btn-default">New Beer</a>
		<% } %>
	</div>
</div>


<div class="container-fluid">
	<div class="row">
		<% beers.forEach(function(beer){ %>
		
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>
						<%= beer.name %>
						<span><a href="/beer/<%= beer._id %>" class="btn btn-default pull-right">View</a></span>
					</h3>
				</div>
				
				<ul class="list-group">
					<% if(admin) {%>
						<li class="list-group-item">
							<div class="panel-body">
			                    <div class="form-inline">
										<div class="form-group">
				                    		<a href="/beer/<%= beer._id %>/edit" class="btn btn-default">Edit</a>
				                    	</div>
			                    	<div class="form-group">
						                <form id="delete-form" action="/beer/<%= beer._id %>?_method=DELETE" method="POST">
						                    <button class="btn btn-default">Delete</button>
						                </form>
	
			                    	</div>
			                    </div>
							</div>
						</li>
					<% } %>
					
					<li class="list-group-item">
						<div class="panel-body">
							<a href="/beer/<%= beer._id %>"><img src="<%= beer.image %>"></a>
						</div>
					</li>
					
				</ul>
			</div>
		</div>
		
		<% }); %>
	</div>
</div>

<% include ../partials/footer %>