<% include ../partials/header %>

<div class="container-fluid">
	<div class="jumbotron">
		<h1>Our Selection</h1>
		<a href="/beer/new" class="btn btn-default">New Beer</a>
	</div>
</div>


<div class="container-fluid">
	<div class="row">
		<% beers.forEach(function(beer){ %>
		
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading"><%= beer.name %>
				<a href="/beer/<%= beer._id %>/edit" class="btn btn-default">Edit</a>
				<a href="/beer/<%= beer._id %>" class="btn btn-default">View</a>
                <form id="delete-form" action="/beer/<%= beer._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
				</div>
				<div class="panel-body">
				<img src="<%= beer.image %>">
				</div>
			</div>
		</div>
		
		<% }); %>
	</div>
</div>

<% include ../partials/footer %>